.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.header {
    display: flex;
}

.header-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-navigation {
}

.header-list {
}

.header-item {
}

.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #434455;
}

.main {
}

.section-1 {
    /* position: absolute;
    width: 1440px;
    height: 603px;
    left: 0px;
    top: 72px;
    background: #2E2F42; */
}

.main-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 0.93;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 0.84;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.section-2{

}

.main-list{

}

.main-item{

}

.main-description {
    font-weight: 600;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.main-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-3 {
}

.main-title-2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 0.9;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.main-list-2 {
}

.list {
}

.main-item-2 {
}

.section-4 {
}

.main-title-2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 0.9;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.main-list-3 {
}

.main-item-3 {
}

.main-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.main-spetialty {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
}

.footer-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.66;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}